@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden !important;
}

img {
	width: 100%;
	object-fit: cover;
}
.carousel {
	/* transition: transform 400ms ease-in-out 0s;
	transform: translate3d(0px, 0px, 0px);
	transform-style: preserve-3d; */
}
